.header-toolbar{
  background-color: #ddd;
}

.tab-location {
  height: calc(100vh - 140px);
}
.input-wrap .label-fixed {
  min-width: 220px;
  font-size: 32px;
}
.input-wrap .native-input {
  font-size: 40px;
}
